/* CART */

.cart {
    margin: 90px 0 60px;

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__inner {
        color: $black;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.2px;

        &:first-child {
            width: 37%;
        }
    }

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 20px 22px 0;
        border-bottom: 1px solid #eaeaea;

        &:nth-child(2) {
            border-top: 1px solid #eaeaea;
        }
    }

    &__item {
        display: flex;
        align-items: center;

        &:first-child {
            width: 37%;
        }
    }

    &__img {
        display: block;
        margin-right: 20px;
        
        &:hover {
            outline: 1px solid #eaeaea;
        }
    }

    &__name {
        display: block;
        margin-bottom: 40px;
        color: $black;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
            color: $pink;
        }
    }

    &__properties {
        color: #575757;
        font-size: 13px;
        font-weight: 700;
    }

    &__properties span {
        font-weight: 300;
        color: #6f6e6e;
    }

    &__value {
        color: #656565;
        font-size: 13px;
        font-weight: 400;
    }

    &__input {
        width: 54px;
        height: 30px;
        border: 1px solid #eaeaea;
        text-align: center;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type=number] {
            -moz-appearance: textfield;
        }

        &:focus {
            outline: none;
        }
    }

    &__icon_link {
        color: #c0c0c0;
        font-size: 16px;

        &:hover {
            color: $pink;
        }
    }

    &__options {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        display: block;
        margin-top: 40px;
        padding: 19px 40px;
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        border: 1px solid #eaeaea;
        transition: all .2s linear;
        
        &:hover {
            color: #fff;
            background-color: $pink;
        }
    }
}