/* LOGO */

.logo {
    display: flex;
    align-items: center;

    &:hover img {
        transform: scale(1.05);
    }
    
    &:hover .logo__text {
        transform: translateX(5px);
    }

    &__img {
        margin-right: 13px;
        transition: transform .2s linear;
    }

    &__text {
        color: $black;
        font-size: 27px;
        font-weight: 300;
        line-height: 32px;
        text-transform: uppercase;
        letter-spacing: 0.68px;
        transition: transform .2s linear;
    }

    &__text--last_letter {
        color: $pink;
        font-weight: 400;
    }
}