/* ARRIVALS */

.arrivals {
    margin-bottom: 70px;
    background-color: #f8f3f4;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 148px;
        background-color: #f8f3f4;
    }

    &__title {
        color: $pink;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__link {
        color: #636363;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 300;
        transition: color .2s linear;
        
         &:hover {
            color: $pink;
        }
    }

    &__link.active {
        font-weight: 700;
        color: $pink;
    }
}