    <!-- SERVICES -->
    <div class="services">
        <div class="services__box center">
            <article class="offer__services offer__services--page_product">
                <div class="offer__icon offer__icon--page_product"><img src="/img/offer/offer_icon_1.svg" alt="#"></div>
                <div class="offer__text offer__text--product_page">
                    <div class="offer__sevrice_name">Free Delivery</div>
                    <div class="offer__service_descript">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</div>
                </div>
            </article>
            <article class="offer__services offer__services--page_product">
                <div class="offer__icon offer__icon--page_product middle"><img src="/img/offer/offer_icon_2.svg" alt="#"></div>
                <div class="offer__text offer__text--product_page">
                    <div class="offer__sevrice_name">Sales &amp; discounts</div>
                    <div class="offer__service_descript">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</div>
                </div>
            </article>
            <article class="offer__services offer__services--page_product">
                <div class="offer__icon offer__icon--page_product"><img src="/img/offer/offer_icon_3.svg" alt="#"></div>
                <div class="offer__text offer__text--product_page">
                    <div class="offer__sevrice_name">Quality assurance</div>
                    <div class="offer__service_descript">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</div>
                </div>
            </article>
        </div>
    </div>
