<!-- SLIDER -->
    <div class="slider">
        <div class="slider__wrapper center">
            <img class="slider__img" src="/{{ good.image }}" alt="#">
            <div class="slider__btn">
                <button class="slider__prev"><i class="fas fa-angle-left"></i></button>
                <button class="slider__next"><i class="fas fa-angle-right"></i></button>
            </div>
        </div>
    </div>
