{% extends 'layout.twig' %}

{% block title %}Add Goods{% endblock %}

{% block content %}
    <a href="/goods/">Back</a>
    <form method="post">
        <input name='name'> Name
        <input name='price'> Price
        <input type='submit' value='Send'>
    </form>
{% endblock %}