    <!-- TRENDING -->
    <div class="trending center">
        <div class="trending__filter">
            <details class="filter__details" open>
                <summary class="filter__summary active">Category</summary>
                <ul class="filter__list">
                    <li class="filter__item"><a href="#" class="filter__link">Accessories</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Bags</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Denim</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Hoodies &amp; Sweatshirts</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Jackets &amp; Coats</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Pants</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Polos</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Shirts</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Shoes</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Shorts</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Sweaters &amp; Knits</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">T-Shirts</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Tanks</a></li>
                </ul>
            </details>
            <details class="filter__details">
                <summary class="filter__summary">BRAND</summary>
                <ul class="filter__list">
                    <li class="filter__item"><a href="#" class="filter__link">Accessories</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Bags</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Denim</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Hoodies &amp; Sweatshirts</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Jackets &amp; Coats</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Pants</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Polos</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Shirts</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Shoes</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Shorts</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Sweaters &amp; Knits</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">T-Shirts</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Tanks</a></li>
                </ul>
            </details>
            <details class="filter__details">
                <summary class="filter__summary">dESIGNER</summary>
                <ul class="filter__list">
                    <li class="filter__item"><a href="#" class="filter__link">Accessories</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Bags</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Denim</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Hoodies &amp; Sweatshirts</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Jackets &amp; Coats</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Pants</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Polos</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Shirts</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Shoes</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Shorts</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Sweaters &amp; Knits</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">T-Shirts</a></li>
                    <li class="filter__item"><a href="#" class="filter__link">Tanks</a></li>
                </ul>
            </details>
        </div>
        <div class="trending__container">
            <div class="trending__inner">
                <div class="trending__box">
                    <div class="trending__title">Trending now</div>
                    <div class="trending__content">
                        <a href="#" class="trending__fiber">Bohemian</a>
                        <a href="#" class="trending__fiber">Floral</a>
                        <a href="#" class="trending__fiber">Lace</a>
                    </div>
                    <div class="trending__content">
                        <a href="#" class="trending__fiber">Floral</a>
                        <a href="#" class="trending__fiber">Lace</a>
                        <a href="#" class="trending__fiber">Bohemian</a>
                    </div>
                </div>
                <div class="trending__box">
                    <div class="trending__title">Size</div>
                    <div class="trending__sizes">
                        <div class="trending__column">
                            <div class="trending__input"><input class="trending__checkbox" type="checkbox" name="a" value="xxs" id="size_1"><label for="size_1">XXS</label></div>
                            <div class="trending__input"><input class="trending__checkbox" type="checkbox" name="a" value="l" id="size_5"><label for="size_5">L</label></div>
                        </div>
                        <div class="trending__column">
                            <div class="trending__input"><input class="trending__checkbox" type="checkbox" name="a" value="xs" id="size_2"><label for="size_2">XS</label></div>
                            <div class="trending__input"><input class="trending__checkbox" type="checkbox" name="a" value="xl" id="size_6"><label for="size_6">XL</label></div>
                        </div>
                        <div class="trending__column">
                            <div class="trending__input"><input class="trending__checkbox" type="checkbox" name="a" value="s" id="size_3"><label for="size_3">S</label></div>
                            <div class="trending__input"><input class="trending__checkbox" type="checkbox" name="a" value="xxl" id="size_7"><label for="size_7">XXL</label></div>
                        </div>
                        <div class="trending__column">
                            <div class="trending__input"><input class="trending__checkbox" type="checkbox" name="a" value="m" id="size_4"><label for="size_4">M</label></div>
                        </div>
                    </div>
                </div>
                <div class="trending__box">
                    <div class="trending__title">Price</div>
                    <input class="trending__input_range" type="range" min="52" max="400" value="100" class="slider" id="myRange">
                    <div class="trending__range">
                        <div class="trending__price">$52</div>
                        <div class="trending__price">$400</div>
                    </div>
                </div>
            </div>
            <div class="sort">
                <div class="sort__type">Sort By</div>
                <button class="sort__btn">Name</button>
                <div class="sort__type">Show</div>
                <button class="sort__btn">09</button>
            </div>
            <div class="catalog__main">
                {% for item in goods %}
                    {% include "blocks/catalog_item.twig" %}
                {% endfor %}
            </div> <!-- ./CATALOG__MAIN -->
            <div class="trending__pages">
                <div class="trending__prev-next">
                    <a href="" class="trending__page-number"><i class="fas fa-chevron-left"></i></a>
                    <a href="" class="trending__page-number active">1</a>
                    <a href="" class="trending__page-number">2</a>
                    <a href="" class="trending__page-number">3</a>
                    <a href="" class="trending__page-number">4</a>
                    <a href="" class="trending__page-number">5</a>
                    <a href="" class="trending__page-number">6</a>
                    <a href="" class="trending__page-number">......</a>
                    <a href="" class="trending__page-number">20</a>
                    <a href="" class="trending__page-number active"><i class="fas fa-chevron-right"></i></a>
                </div>
                <a href="" class="trending__link">View All</a>
            </div>
        </div> <!-- ./TRENDING__CONTAINER -->
    </div> <!-- ./TRENDING -->
    