    <!--- ARRIVALS -->
    <div class="arrivals">
        <div class="arrivals__box center">
            <h2 class="arrivals__title">New Arrivals</h2>
            <nav class="arrivals__nav">
                <a href="index.html" class="arrivals__link">Home /</a>
                <a href="product.html" class="arrivals__link">Men /</a>
                <a href="shoping_cart.html" class="arrivals__link active">New Arrivals</a>
            </nav>
        </div>
    </div>
