<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Catalog</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/style.css">
        <script src="https://kit.fontawesome.com/8d73d6a795.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <section class="catalog center">
            <h3 class="catalog__header">Featured Items</h3>
            <p class="catalog__header_text">Shop for items based on what we featured in this week</p>
            <div class="catalog__main" id="main_cat">
                {% for item in catalog %}
                    {% include "catalog_item.twig" %}
                {% endfor %}
            </div>
            <div class="catalog__button">
                <button id="show_more" value="8" name="btn" class="catalog__link fas fa-long-arrow-alt-right">Show more</button>
            </div>
        </section>
    </body>
</html>
