.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    margin-top: 15px;
}

.main {
    position: relative;
}
.margin {
    margin-top: 40px;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-img-top {
    width: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.cart {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: blue;  
}