/* CATALOG */

.catalog {
    &__header {
        margin-bottom: 15px;
        color: $black;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.75px;
        text-align: center;
    }

    &__header_text {
        margin-bottom: 20px;
        color: #9f9f9f;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.35px;
        text-align: center;
    }

    &__main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    &__item {
        margin-top: 40px;
        position: relative;
        transition: box-shadow .2s linear;

        &:hover {
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
        }

        &:hover .catalog__bucket {
            visibility: visible;
        }

        &:hover .catalog__img {
            filter: brightness(.4);
        }
        
        &.catalog__item--also {
            margin-top: 0;
        }
    }

    &__bucket {
        display: flex;
        align-items: center;
        padding: 10px 13px;
        visibility: hidden;
        border: 1px solid #ffffff;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        position: absolute;
        top: 25%;
        right: 25%;
        z-index: 2;
        transition: all .2s linear;
        background-color: transparent;
        cursor: pointer;
        
        &:hover {
            transform: scale(1.1);
          }  
        
        &:active {
            box-shadow: 0 0 15px rgb(255, 255, 255) inset;
            transform: scale(1);
            outline: none;
        }
        
        &:focus {
            outline: none;
        }      
    }

    &__img {
        display: block;
        transition: filter .2s linear;
    }

    &__content {
        padding: 20px 0 20px 15px;
    }

    &__name {
        display: block;
        color: $black;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
        
        &.catalog__name--also {
            color: #6f6e6e;
        }     
    }

    &__price {
        margin-top: 17px;
        color: $pink;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__button {
        text-align: center;
    }

    &__link {
        display: inline-block;
        width: 212px;
        height: 48px;
        background-color: $pink;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.4px;
        text-align: center;
        line-height: 45px;
        border: none;
        cursor: pointer;
        transition: all .2s linear;
        
        &:hover {
            background-color: darken($pink, 6.25%);
        }

        &::before {
            margin-right: 15px;
        }

        &:focus {
            outline: none;
        }

        &:active {
            transform: scale(.95);
        }

        &:disabled {
            background-color: grey;
        }
        
    }
}
