/* FOOTER */

.footer {
    background-color: #e6e6e6;

    &__box {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__copyright {
        color: #7a7a7a;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.4px;
    }

    &__social {
        display: flex;
        justify-content: center;
    }
}

.social__item {
    width: 32px;
    height: 32px;
    margin-left: 8px;
    padding: 5px;
    background-color: #ffffff;
    color: #b2b2b2;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    transition: background .2s linear, color .2s linear;
}

.social__item:hover {
    background-color: $pink;
    color: #f7f7f8;
}